$primary-color: #000;
$secondary-color: #888;
$third-color: #F7F6F6;
$back-color: #FFF;
$gap: 32px;
$fs24: 24px;
$fs16: 16px;
$fs64: 64px;
$fs48: 48px;
$fs34: 34px;
$fs14: 14px;
$fs12: 12px;
$fw400: 400;
$fw500: 500;
$fw600: 600;